.main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f6f7ff;
    padding-top: 20px;
    width: 100%;

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // width: 80%;
        // max-width: 80%;
       
        .firstsection{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 120px;
            padding: 15px 0px;

            .leftside{
                display: flex;
                flex-direction: column;
                flex: 3;
                flex-wrap: wrap;
                gap: 10px;
                
                span{
                    color: #666768;
                    font-weight: 500;
                    font-size: 20px;
                }
    
                h1{
                    margin: 0px;
                    width: 470px;
                    font-size: 40px;
    
                    span{
                        color: #017dfc;
                        font-size: 40px;
                    }
                   
                }
    
                p{
                    width: 500px;
                    color: #afb0b4;
                    line-height: 30px;
                    font-size: 20px;
                    

                    span{
                        color: #509399;
                        cursor: pointer;
                    }
                }
    
                // button{
                //     width: 120px;
                //     border: none;
                //     padding: 18px;
                //     color: white;
                //     border-radius: 25px;
                //     cursor: pointer;
                //     background-color: #509399;
                //     font-size: 15px;
                // }
            }
    
            .rightside{
                flex: 3;
                width: 700px;
                background-color: #f6f7ff;

                .pageImge{
                    width: 800px;
                    height: 500px;
                    filter: blur(1px);
                    border-radius: 100px;
                    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                }
            }
        }

        .secondSection{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 60px 0px;
            width: 100%;
        }

        .thirdSection{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}

$small: 475px;
$semiMedium: 640px;
$medium: 768px;
$big: 1024px;
$large: 1200px;
$veryBig: 1536px;

@media (max-width: $small) {
    

    .main{
        display: flex;
        justify-content: flex-start;
        padding: 40px 0;
    

        .container{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            

            .firstsection{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                gap: 60px;
                padding: 40px 20px;
        
                .leftside{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    
                    span{
                        word-wrap: break-word;
                        color: #666768;
                        font-weight: 500;
                        font-size: 20px;
                        
                    }
        
                    h1{
                        margin: 0px;
                        width: 350px;
                        font-size: 40px;
                        word-wrap: break-word;
        
                        span{
                            color: #017dfc;
                            font-size: 40px;
                        }
                       
                    }
        
                    p{
                        max-width: 350px;
                        color: #afb0b4;
                        line-height: 30px;
                        font-size: 20px;
                        word-wrap: break-word;
                    }
        
                    button{
                        
                        border: none;
                        padding: 18px;
                        color: white;
                        border-radius: 25px;
                        cursor: pointer;
                        background-color: #509399;
                        font-size: 16px;
                    }
                }
        
                .rightside{
                    display: flex;
                    justify-content: center;
                    width: 300px;
                    height: 300px;
                    object-fit: contain;
                    padding-bottom: 0px;
                    background-color: #f6f7ff;

                    .pageImge{
                        width: 340px;
                        height: 300px;
                        margin: 0 auto;
                        filter: blur(1px);
                        border-radius: 30px;
                        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                    }

                }

                
            }

            .secondSection{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 60px 0px;
                width: 0%;
            }
    
            .thirdSection{
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                // align-items: center;
            }
        }
    }
}